.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 57px;

  $self: &;

  &__add-button {

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

  }



  li {
    display: flex;
    align-items: center;
    height: 37px;
    padding-left: 12px;
    width: 160px;
    cursor: pointer;

    &:hover #{$self}__remove-btn {
      opacity: 0.3;
      margin-right: 14px;
    }

    #{$self}__remove-btn {
      opacity: 0;

      &:hover {
        opacity: 0.8;
      }
    }

    &.active {
      background: #FFFFFF;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.44);
      border-radius: 4px;
    }



    span {
      flex: 1;
    }

    .badge {
      border-radius: 30px;
      height: 10px;
      width: 10px;

      &--grey {
        background-color: #C9D1D3;
      }

      &--green {
        background-color: #42B883;
      }

      &--blue {
        background-color: #64C4ED;
      }

      &--pink {
        background-color: #FFBBCC;
      }

      &--lime {
        background-color: #B6E6BD;
      }

      &--purple {
        background-color: #C355F5;
      }

      &--black {
        background-color: #110133;
      }

      &--red {
        background-color: #FF6464;
      }
    }


    i {
      display: inline-flex;
      margin-right: 5px;

      svg {
        path {
          fill: #7C7C7C;
        }
      }
    }
  }
}
